<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qinwh.qbookapp.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="cn.qinwh.qbookapp.entity.Book" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="lanmu_id" property="lanmuId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="sort" property="sort" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="view" property="view" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="auther" property="auther" jdbcType="VARCHAR" />
    <result column="author_id" property="authorId" jdbcType="INTEGER" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
    <result column="ticai_id" property="ticaiId" jdbcType="INTEGER" />
    <result column="duzhequn_id" property="duzhequnId" jdbcType="INTEGER" />
    <result column="diyu_id" property="diyuId" jdbcType="INTEGER" />
    <result column="mhstatus" property="mhstatus" jdbcType="BIT" />
    <result column="tjswitch" property="tjswitch" jdbcType="BIT" />
    <result column="isfree" property="isfree" jdbcType="BIT" />
    <result column="cjid" property="cjid" jdbcType="VARCHAR" />
    <result column="cjstatus" property="cjstatus" jdbcType="BIT" />
    <result column="cjname" property="cjname" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="last_chapter_title" property="lastChapterTitle" jdbcType="VARCHAR" />
    <result column="searchnums" property="searchnums" jdbcType="INTEGER" />
    <result column="last_chapter" property="lastChapter" jdbcType="VARCHAR" />
    <result column="isjingpin" property="isjingpin" jdbcType="BIT" />
    <result column="xianmian" property="xianmian" jdbcType="BIT" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="ishot" property="ishot" jdbcType="BIT" />
    <result column="issole" property="issole" jdbcType="BIT" />
    <result column="isnew" property="isnew" jdbcType="BIT" />
    <result column="h" property="h" jdbcType="BIT" />
    <result column="vipcanread" property="vipcanread" jdbcType="BIT" />
    <result column="pingfen" property="pingfen" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.qinwh.qbookapp.entity.Book" extends="BaseResultMap" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="desc" property="desc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, title, lanmu_id, create_time, update_time, sort, status, view, image, type, auther, 
    author_id, mark, ticai_id, duzhequn_id, diyu_id, mhstatus, tjswitch, isfree, cjid, 
    cjstatus, cjname, keyword, last_chapter_title, searchnums, last_chapter, isjingpin, 
    xianmian, cover, ishot, issole, isnew, h, vipcanread, pingfen
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    desc
  </sql>
</mapper>