<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qinwh.qbooksystem.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="cn.qinwh.qbooksystem.entity.SysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, description, status
  </sql>

  <!-- 根据用户编号获取该用户的角色 -->
  <select id="selectByUserId" resultType="cn.qinwh.qbooksystem.entity.SysRole" parameterType="java.lang.Integer">
    select t2.* from sys_user_role t1,sys_role t2 where t1.role_id=t2.id and t1.user_id=#{userId}
  </select>
</mapper>